---
import Layout from '../layouts/Layout.astro';
import LinkCard from '../components/LinkCard.astro';
import GroupCard from '../components/GroupCard.astro';
import type { Link } from './Link';
import type { Group } from './Group';
import TextEditor from '../components/TextEditor.astro';
import { getData } from '../scripts/getData';
import AutoOpenDialog from '../components/AutoOpenDialog.astro';
export const prerender = false;

const data = await getData(Astro.url);

const DEFAULT_METADATA = {
  title: 'Tab',
  description: '',
  icon: '/favicon.svg',
} as const;
const metadata = data.find((item) => item.type === 'metadata');
const pageTitle =
  Astro.url.searchParams.get('title') ??
  metadata?.title ??
  DEFAULT_METADATA.title;
const pageDescription =
  Astro.url.searchParams.get('description') ??
  metadata?.description ??
  DEFAULT_METADATA.description;
const pageIcon =
  Astro.url.searchParams.get('icon') ?? metadata?.icon ?? DEFAULT_METADATA.icon;

const onlyLinks = data
  .filter((item): item is Link => item.type === 'link' || !item.type)
  .filter((item) => item.url);

const onlyGroups = data.filter((item): item is Group => item.type === 'group');

const CHAR_CUTOFF = 25 as const;
const truncate = (text: string) =>
  text.length > CHAR_CUTOFF ? text.slice(0, CHAR_CUTOFF) + '...' : text;
const linksAndGroups = [...onlyGroups, ...onlyLinks];
const allLinks = linksAndGroups
  .map((item) =>
    item.type === 'group'
      ? `[ ${truncate(item.title)} ]`
      : item.title ?? item.url.replace(/https?:\/\//, '')
  )
  .slice(0, 5)
  .map((title) => truncate(title));

const ogImage =
  'https://api.4mbl.net/og/v0?background=black&color=%233333ff&fontSize=50&text=' +
  encodeURIComponent(allLinks.join('\n\r'));

const ogMetadata = {
  title: pageTitle,
  description: pageDescription,
  image: ogImage,
};

const textEditorVisible =
  Astro.url.searchParams.get('editor') !== 'false' ?? false;

const autoOpenEnabled = Astro.url.searchParams.get('auto') === 'true';
---

<Layout
  title={pageTitle}
  description={pageDescription}
  icon={pageIcon}
  og={ogMetadata}>
  <main>
    {autoOpenEnabled && <AutoOpenDialog />}
    <div class="groupped-links">
      <ul role="list" class="link-card-grid">
        {
          onlyGroups.map((item: Group) => (
            <li class="grid-item">
              <GroupCard title={item.title!} links={item.links} />
            </li>
          ))
        }
        {
          onlyLinks.map((item: Link) => (
            <li class="grid-item">
              <LinkCard
                href={item.url}
                title={item.title}
                body={item.body}
                icon={item.icon}
              />
            </li>
          ))
        }
      </ul>
    </div>
    {
      textEditorVisible && (
        <div class="text-editor-container">
          <TextEditor />
        </div>
      )
    }
  </main>
</Layout>

<style>
  main {
    margin: auto;
    padding: 1.5rem;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .grid-item {
    width: 100%;
  }

  .text-gradient {
    background-image: var(--accent-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 400%;
    background-position: 0%;
  }

  .link-card-grid {
    width: 55ch;
    display: flex;
    flex-wrap: wrap;
    flex-flow: column;
    align-items: center;
    gap: 1rem;
    padding: 0;
    gap: 1rem;
    padding: 0;
    margin: 0;
  }

  .text-editor-container {
    width: 55ch;
    height: 15rem;
    margin: 1rem 0;
  }
</style>

<script>
  document.addEventListener('DOMContentLoaded', () => {
    document.addEventListener('keydown', (e) => {
      if (e.key === 'a' && e.ctrlKey) {
        e.preventDefault();
        const params = new URLSearchParams(window.location.search);
        params.set('auto', 'true');
        window.location.search = params.toString();
      }
    });
  });
</script>
