---
import Layout from '../layouts/Layout.astro';
import LinkCard from '../components/LinkCard.astro';
import GroupCard from '../components/GroupCard.astro';
import type { Link } from './Link';
import type { Group } from './Group';
import defaultData from '../data/default_links.json';
import TextEditor from '../components/TextEditor.astro';
export const prerender = false;

type Item = Link | Group;

const params = Astro.url.searchParams.get('src')?.split(';') || [];
const urls = params
  .filter((url) => url.length > 0)
  .map((url) => decodeURIComponent(url));

let data;
if (urls.length === 0) {
  data = defaultData as Item[];
} else {
  data = await Promise.all(
    urls.map((url) =>
      fetch(`https://${url}`, {
        method: 'GET',
        redirect: 'follow',
        headers: {
          'Cache-Control': 'no-cache',
          'Content-Type': 'application/json',
        },
      }).then((response) => response.json())
    )
  ).then((responses) => responses.flat());
}

const onlyLinks = data
  .filter((item): item is Link => item.type === 'link' || !item.type)
  .filter((item) => item.url);

const onlyGroups = data.filter((item): item is Group => item.type === 'group');

const textEditorVisible =
  Astro.url.searchParams.get('editor') !== 'false' ?? false;
---

<Layout title="New Tab">
  <main>
    <div class="groupped-links">
      <ul role="list" class="link-card-grid">
        {
          onlyGroups.map((item: Group) => (
            <li class="grid-item">
              <GroupCard title={item.title!} links={item.links} />
            </li>
          ))
        }
        {
          onlyLinks.map((item: Link) => (
            <li class="grid-item">
              <LinkCard href={item.url} title={item.title} body={item.body} />
            </li>
          ))
        }
      </ul>
    </div>
    {
      textEditorVisible && (
        <div class="text-editor-container">
          <TextEditor />
        </div>
      )
    }
  </main>
</Layout>

<style>
  main {
    margin: auto;
    padding: 1.5rem;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .grid-item {
    width: 100%;
  }

  .text-gradient {
    background-image: var(--accent-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 400%;
    background-position: 0%;
  }

  .link-card-grid {
    width: 55ch;
    display: flex;
    flex-wrap: wrap;
    flex-flow: column;
    align-items: center;
    gap: 1rem;
    padding: 0;
    gap: 1rem;
    padding: 0;
    margin: 0;
  }

  .text-editor-container {
    width: 55ch;
    height: 15rem;
    margin: 1rem 0;
  }
</style>
