---
import type { Link } from '../pages/Link';
import LinkCard from './LinkCard.astro';

export interface Props {
  title?: string;
  links: Link[];
}

const { title, links } = Astro.props;

function uuid() {
  return 'xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx'.replace(/x/g, function () {
    const randomLetter = String.fromCharCode(
      97 + Math.floor(Math.random() * 26)
    );
    return randomLetter;
  });
}

const group = uuid();
---

<div class="group-card">
  <h2 class="group-title">
    {title}
    <button id={group} class="btn-open-all">Open All</button>
  </h2>
  <ul class=`link-list`>
    {
      links.map((item: Link) => (
        <div class="link-container">
          <LinkCard href={item.url} title={item.title} body={item.body} />
        </div>
      ))
    }
  </ul>
</div>

<style>
  .group-card {
    /* width: calc((24ch + 1rem + 0.25rem) * 2 + 1rem); */
    list-style: none;
    padding: 0.25rem;
    background-color: #383838;
    background-image: none;
    background-size: 400%;
    border-radius: 0.35rem;
  }

  @media (max-width: 767px) {
    .group-card {
      width: 100%;
    }
  }

  .group-title {
    padding: 0.5rem 0.5rem 0rem 0.5rem;
    font-size: 1.5rem;
  }

  .btn-open-all {
    float: right;
    display: flex;
    align-items: center;
    height: 1.5rem;
    font-size: 1rem;
    padding: 0.8rem;
    border-radius: 0.25rem;
    border: 1px solid #fff;
    background-color: #222;
    color: #fff;
    cursor: pointer;
  }

  .btn-open-all:hover,
  .btn-open-all:focus {
    background-color: #fff;
    color: #222;
  }

  .link-container {
    margin: 0.5rem;
  }
</style>

<script define:vars={{ group, links }}>
  const openAllBtn = document.querySelector(`#${group}`);
  openAllBtn.addEventListener('click', () => {
    links.forEach((link) => {
      window.open(link.url, '_blank');
    });
    window.close();
  });
</script>
